<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.CourseInfoMapper">
  <resultMap id="BaseResultMap" type="com.school.pojo.CourseInfo">
    <id column="cinfo_id" jdbcType="VARCHAR" property="id" />
    <result column="cinfo_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="cinfo_create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="cinfo_update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="cinfo_update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="cinfo_name" jdbcType="VARCHAR" property="name" />
    <result column="cinfo_period" jdbcType="VARCHAR" property="period" />
    <result column="cinfo_type" jdbcType="VARCHAR" property="type" />
    <result column="cinfo_credit" jdbcType="INTEGER" property="credit" />
    <!--<result column="cinfo_aca_id" jdbcType="VARCHAR" property="acaId" />-->
    <result column="cinfo_delete" jdbcType="TINYINT" property="delete" />

    <association property="acaId" column="cinfo_aca_id"
                 javaType="com.school.pojo.Academy">

    </association>
  </resultMap>

  <sql id="Base_Column_List">
    cinfo_id, cinfo_create_by, cinfo_create_time, cinfo_update_by, cinfo_update_time, 
    cinfo_name, cinfo_learning_time, cinfo_type, cinfo_credit, cinfo_aca_id, cinfo_delete
  </sql>

</mapper>