<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.MajorMapper">
  <resultMap id="BaseResultMap" type="com.school.pojo.Major">
    <id column="major_id" jdbcType="VARCHAR" property="id" />
    <result column="major_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="major_create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="major_update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="major_update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="major_name" jdbcType="VARCHAR" property="name" />
    <!--<result column="major_aca_id" jdbcType="VARCHAR" property="acaId" />-->
    <result column="major_delete" jdbcType="TINYINT" property="delete" />

      <association property="acaId" column="major_aca_id"
                   javaType="com.school.pojo.Academy">

      </association>
  </resultMap>

  <sql id="Base_Column_List">
    major_id, major_create_by, major_create_time, major_update_by, major_update_time, 
    major_name, major_aca_id, major_detete
  </sql>

</mapper>