<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.AcademyMapper">
  <resultMap id="BaseResultMap" type="com.school.pojo.Academy">
    <id column="school_id" jdbcType="VARCHAR" property="id" />
    <result column="school_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="school_create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="school_update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="school_update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="school_name" jdbcType="VARCHAR" property="name" />
    <result column="school_address" jdbcType="LONGVARCHAR" property="address" />
    <result column="school_province" jdbcType="VARCHAR" property="province" />
    <result column="school_city" jdbcType="VARCHAR" property="city" />
    <result column="school_delete" jdbcType="TINYINT" property="delete" />


  </resultMap>

  <sql id="Base_Column_List">
    acad_id, acad_create_by, acad_create_time, acad_update_by, acad_update_time, acad_name, 
    acad_school_id, acad_delete
  </sql>
  <sql id="Blob_Column_List">
    acad_address
  </sql>

</mapper>